@import 'config';

@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    color: $text-color;
    height: 100vh;
    margin:0;
    font-size:1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    fixed = paralax
    scroll = normal
    */
}

.pimg1 {
    background-image:url('/images/img1.jpg');
    min-height: 100vh;
    display: flex;
	flex-direction: column;
    h1 {
        font-family: 'Charmonman', cursive;
        font-size: 3rem;
    }
}

.pimg2 {
    background-image:url('/images/img2.jpg');
    min-height: 40vh;

    .border {
       background-color: transparent; 
    }
}

.pimg3 {
    background-image:url('/images/img3.jpg');
    min-height: 40vh;
}

.pimg4 {
    min-height: 100vh;
    display: flex;
	flex-direction: column;
        background-image: 
        linear-gradient(to right, rgba(192, 108, 132,0.7), rgba(108, 91, 123,0.7), rgba(53, 92, 125,0.7) ),
        url('/images/img1.jpg');
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
}
.section-dark {
    background-color:#282e34;
    color: #ddd;
}


.ptext, h1 {
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 1.75rem;
    letter-spacing: 8px;
    .border {
        background: linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,0,0.8),  rgba(115,112,111,0.1));
        color:#fff;
        padding:20px;
    }
}

.fa-angle-down {
    font-size: 2em;
    color:$link-color;
    text-shadow: 1px 1px 10px rgb(54, 53, 53), 1px 1px 20px rgb(0,0,0);
}

.skip-to-content {
	margin-top: auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    cursor: pointer;
    animation: float-down 1s infinite alternate;
  }

.social {
	margin: 40vh auto;
	text-align: center;
    &__icons {
        color: #fff;
        text-decoration: none;
        font-size: 3rem;
        padding: 1rem 1rem;
        li {
            display: inline-block;
            margin: 0.15em;
            position: relative;
            font-size: 1.2em;
        }
        i {
            color: #fff;
            position: absolute;
            top: 21px;
            left: 21px;
            transition: all 265ms ease-out;
        }
        a {
            display: inline-block;
            &:before {
                content: " ";
                width: 60px;
                height: 60px;
                display: block;
            }
            &:hover {
                &:before {
                    transform: scale(0);
                    transition: all 265ms ease-in;
                }
                i {
                    transform: scale(2.2);
                    -ms-transform: scale(2.2);
                    -webkit-transform: scale(2.2);
                    color: #c06c84;
                    background: -webkit-linear-gradient(45deg, #c06c84, #ffffff);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: all 265ms ease-in;
                }
            }
        }
    }
}



