@import 'config';

body, html {
    color: $text-color;
    height: 100vh;
    margin:0;
    font-size:1rem;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
}

.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*
    fixed = paralax
    scroll = normal
    */
}

.pimg1 {
    background-image:url('/images/img1.jpg');
    min-height: 100vh;
    background-image: 
    linear-gradient(to right, rgba(192, 108, 132,0.5), rgba(108, 91, 123,0.5), rgba(53, 92, 125,0.7) ),
    url('/images/img1.jpg');
    display: flex;
	flex-direction: column;
}



.pimg2 {
    background-image:url('/images/img2.jpg');
    min-height: 40vh;

    .border {
       background-color: transparent; 
    }
}

.pimg3 {
    background-image:url('/images/img3.jpg');
    min-height: 40vh;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
}
.section-dark {
    background-color:#282e34;
    color: #ddd;
}

.ptext {
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 1.75rem;
    letter-spacing: 8px;
    text-transform: uppercase;
    
    .border {
        background-color: #111;
        color:#fff;
        padding:20px;
    }
}

.skip-to-content {
	margin-top: auto;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.fa-angle-down {
    font-size: 2em;
    color:$link-color;
}